In [9]:
options(jupyter.rich_display = FALSE)

# Basic data science with R

## Reshaping data

Multivariate data can be represented in wide or long format:

- Reshaping a data in wide format into a long format is known as "melting"
- Reshaping a data in long format into a wide format is known as "casting"

Different shapes of data can be utilized for specific purposes

### Melting

A chessboard is in a 8x8 shape

Suppose we have a chessboard with random configuration: Each of the 32 pieces by any player is given a unique number and empty squares are 0:

First create a random vector:

In [11]:
chess_vec <- integer(64)
chess_vec[1:32] <- 1:32
chess_vec_r <- sample(chess_vec)
chess_vec_r

 [1]  0 20 18  0 28  0 27  4  0  0  0 17 32  0  0 26  0  2 12  0 31  0  8 14 29
[26]  3  9  0 24  0  0  0 10  0  0  0  0  0 16 22 19  0  5  0  0  0  0  0 11  0
[51]  0  0 25  7  1 15  0 23 30  0  0  6 13 21

And convert to a matrix:

In [10]:
chess_mat <- matrix(chess_vec_r, nrow = 8)
chess_mat

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  0   19   20   4    22   11    0    6
[2,] 24    0   15   0     7    8    1    0
[3,]  0    0    0   0    31   16    0   26
[4,] 14    0    5   0    13   25    0    0
[5,]  0   18    3   9     0   32   27    0
[6,]  0   17    0   0     2    0   28   23
[7,]  0    0    0   0     0   21    0   30
[8,] 10    0    0   0     0    0   29   12

In [19]:
chess_df <- as.data.frame(chess_mat)
chess_df

Our task is to create a function to convert this matrix into a format in which we have three columns:
- One for the row index of the original matrix
- One for the column index of the original matrix
- One for the value

We will use the base function reshape()

In [12]:
?reshape

```
reshape(data, varying = NULL, v.names = NULL, timevar = "time",
             idvar = "id", ids = 1:NROW(data),
             times = seq_along(varying[[1]]),
             drop = NULL, direction, new.row.names = NULL,
             sep = ".",
             split = if (sep == "") {
                 list(regexp = "[A-Za-z][0-9]", include = TRUE)
             } else {
                 list(regexp = sep, include = FALSE, fixed = TRUE)}
             )
     
Arguments:

    data: a data frame

 varying: names of sets of variables in the wide format that correspond
          to single variables in long format (‘time-varying’).  This is
          canonically a list of vectors of variable names, but it can
          optionally be a matrix of names, or a single vector of names.
          In each case, the names can be replaced by indices which are
          interpreted as referring to ‘names(data)’.  See ‘Details’ for
          more details and options.

 v.names: names of variables in the long format that correspond to
          multiple variables in the wide format.  See ‘Details’.

 timevar: the variable in long format that differentiates multiple
          records from the same group or individual.  If more than one
          record matches, the first will be taken (with a warning).

   idvar: Names of one or more variables in long format that identify
          multiple records from the same group/individual.  These
          variables may also be present in wide format.

     ids: the values to use for a newly created ‘idvar’ variable in
          long format.

   times: the values to use for a newly created ‘timevar’ variable in
          long format.  See ‘Details’.

    drop: a vector of names of variables to drop before reshaping.

direction: character string, partially matched to either ‘"wide"’ to
          reshape to wide format, or ‘"long"’ to reshape to long
          format.
```

First, let's convert the matrix into a data.frame:

In [21]:
chess_df <- as.data.frame(chess_mat)
chess_df

  V1 V2 V3 V4 V5 V6 V7 V8
1  0 19 20 4  22 11  0  6
2 24  0 15 0   7  8  1  0
3  0  0  0 0  31 16  0 26
4 14  0  5 0  13 25  0  0
5  0 18  3 9   0 32 27  0
6  0 17  0 0   2  0 28 23
7  0  0  0 0   0 21  0 30
8 10  0  0 0   0  0 29 12

- idvar is the variable which need to be left unaltered
- varying are the ones that needs to converted from wide to long
- v.names are the values that should be against the times in the resultant data frame.
- new.row.names is used to assign row names to the resultant dataset
- direction is, to which format the data needs to be transformed

In [41]:
chess_long <- reshape(chess_df,
                      idvar = "rows",
                      varying = 1:8,
                      v.name = "piece",
                      direction = "long")

In [37]:
chess_long

    cols piece rows
1.1 1     0    1
2.1 1    24    2
3.1 1     0    3
4.1 1    14    4
5.1 1     0    5
6.1 1     0    6
7.1 1     0    7
8.1 1    10    8
1.2 2    19    1
2.2 2     0    2
3.2 2     0    3
4.2 2     0    4
5.2 2    18    5
6.2 2    17    6
7.2 2     0    7
8.2 2     0    8
1.3 3    20    1
2.3 3    15    2
3.3 3     0    3
4.3 3     5    4
5.3 3     3    5
6.3 3     0    6
7.3 3     0    7
8.3 3     0    8
1.4 4     4    1
2.4 4     0    2
3.4 4     0    3
4.4 4     0    4
5.4 4     9    5
6.4 4     0    6
⋮   ⋮    ⋮     ⋮
3.5 5    31    3
4.5 5    13    4
5.5 5     0    5
6.5 5     2    6
7.5 5     0    7
8.5 5     0    8
1.6 6    11    1
2.6 6     8    2
3.6 6    16    3
4.6 6    25    4
5.6 6    32    5
6.6 6     0    6
7.6 6    21    7
8.6 6     0    8
1.7 7     0    1
2.7 7     1    2
3.7 7     0    3
4.7 7     0    4
5.7 7    27    5
6.7 7    28    6
7.7 7     0    7
8.7 7    29    8
1.8 8     6    1
2.8 8     0    2
3.8 8    26    3
4.8 8     0    4
5.8 8     0    5
6.8 8    23    6
7.8 8    30    7
8.8 8    12    8

We can change the default name of column "time" to "cols" and rearrange the columns:

In [42]:
names(chess_long)[1] <- "cols"
chess_long <- chess_long[,c("cols", "rows", "piece")]
chess_long

    cols rows piece
1.1 1    1     0
2.1 1    2    24
3.1 1    3     0
4.1 1    4    14
5.1 1    5     0
6.1 1    6     0
7.1 1    7     0
8.1 1    8    10
1.2 2    1    19
2.2 2    2     0
3.2 2    3     0
4.2 2    4     0
5.2 2    5    18
6.2 2    6    17
7.2 2    7     0
8.2 2    8     0
1.3 3    1    20
2.3 3    2    15
3.3 3    3     0
4.3 3    4     5
5.3 3    5     3
6.3 3    6     0
7.3 3    7     0
8.3 3    8     0
1.4 4    1     4
2.4 4    2     0
3.4 4    3     0
4.4 4    4     0
5.4 4    5     9
6.4 4    6     0
⋮   ⋮    ⋮    ⋮
3.5 5    3    31
4.5 5    4    13
5.5 5    5     0
6.5 5    6     2
7.5 5    7     0
8.5 5    8     0
1.6 6    1    11
2.6 6    2     8
3.6 6    3    16
4.6 6    4    25
5.6 6    5    32
6.6 6    6     0
7.6 6    7    21
8.6 6    8     0
1.7 7    1     0
2.7 7    2     1
3.7 7    3     0
4.7 7    4     0
5.7 7    5    27
6.7 7    6    28
7.7 7    7     0
8.7 7    8    29
1.8 8    1     6
2.8 8    2     0
3.8 8    3    26
4.8 8    4     0
5.8 8    5     0
6.8 8    6    23
7.8 8    7    30
8.8 8    8    12

### Casting

Now let's convert the long chessboard back to a wide 8x8 one:

- idvar is the variable which need to be left unaltered
- timevar are the variables that needs to converted to wide format
- v.names are the value variable
- direction is, to which format the data needs to be transformed

In [51]:
chess_wide <- reshape(chess_long,
       idvar = "rows",
       v.names = "piece",
       timevar = "cols",
       direction = "wide")

chess_wide

    rows piece.1 piece.2 piece.3 piece.4 piece.5 piece.6 piece.7 piece.8
1.1 1     0      19      20      4       22      11       0       6
2.1 2    24       0      15      0        7       8       1       0
3.1 3     0       0       0      0       31      16       0      26
4.1 4    14       0       5      0       13      25       0       0
5.1 5     0      18       3      9        0      32      27       0
6.1 6     0      17       0      0        2       0      28      23
7.1 7     0       0       0      0        0      21       0      30
8.1 8    10       0       0      0        0       0      29      12

We delete the first column, which is unneccessary in our example:

In [52]:
chess_wide <- chess_wide[,-1]
chess_wide

    piece.1 piece.2 piece.3 piece.4 piece.5 piece.6 piece.7 piece.8
1.1  0      19      20      4       22      11       0       6
2.1 24       0      15      0        7       8       1       0
3.1  0       0       0      0       31      16       0      26
4.1 14       0       5      0       13      25       0       0
5.1  0      18       3      9        0      32      27       0
6.1  0      17       0      0        2       0      28      23
7.1  0       0       0      0        0      21       0      30
8.1 10       0       0      0        0       0      29      12

and let's compare whether all values are unchanged vis-a-vis the original object:

In [54]:
all(chess_wide == chess_mat)

[1] TRUE

### Real data example: Reshaping IMF WEO database

First read the tsv data into R using read.delim() function (a read.table wrapper for tsv files):

In [203]:
?read.table

In [216]:
#weo <- read.table("data/WEO_Data.xls", sep = "\t", header = T, na.strings = c("n/a", "--", ""), stringsAsFactors = T, dec = ".")
weo <- read.delim("data/WEO_Data.xls", na.strings = c("n/a", "--", ""), stringsAsFactors = T, dec = ".")
#weo <- read.delim("~/Downloads/WEO_Data.xls", na.strings = c("n/a", "--", ""), stringsAsFactors = T, dec = ".")

Let's view the structure of the data:

In [219]:
str(weo)

'data.frame':	8730 obs. of  52 variables:
 $ WEO.Country.Code     : int  512 512 512 512 512 512 512 512 512 512 ...
 $ ISO                  : Factor w/ 194 levels "ABW","AFG","AGO",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ WEO.Subject.Code     : Factor w/ 45 levels "BCA","BCA_NGDPD",..: 25 26 22 27 39 23 30 31 29 28 ...
 $ Country              : Factor w/ 194 levels "Afghanistan",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Subject.Descriptor   : Factor w/ 29 levels "Current account balance",..: 14 14 15 15 15 16 12 12 13 13 ...
 $ Units                : Factor w/ 12 levels "Index","National currency",..: 2 5 2 12 11 1 2 10 2 12 ...
 $ Scale                : Factor w/ 3 levels "Billions","Millions",..: 1 NA 1 1 1 NA 3 3 3 3 ...
 $ X1980                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1981                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1982                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1983                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1984                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1985                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1986                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1987                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1988                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1989                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1990                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1991                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1992                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1993                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1994                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1995                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1996                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1997                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1998                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X1999                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X2000                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X2001                : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X2002                : num  182.84 NA 178.76 4.37 18.84 ...
 $ X2003                : num  198.74 8.69 220.01 4.55 20.85 ...
 $ X2004                : num  200.069 0.671 246.21 5.146 21.557 ...
 $ X2005                : num  223.74 11.83 304.93 6.17 24.86 ...
 $ X2006                : num  235.73 5.36 345.82 6.92 26.98 ...
 $ X2007                : num  267.18 13.34 427.5 8.56 31.4 ...
 $ X2008                : num  277.5 3.86 517.51 10.3 33.25 ...
 $ X2009                : num  334.6 20.6 607.2 12.1 40.4 ...
 $ X2010                : num  362.86 8.44 711.76 15.32 44.32 ...
 $ X2011                : num  386.37 6.48 836.22 17.89 48.18 ...
 $ X2012                : num  440.3 14 1033.6 20.3 56 ...
 $ X2013                : num  465.36 5.68 1116.83 20.17 60.18 ...
 $ X2014                : num  477.9 2.7 1183 20.6 63 ...
 $ X2015                : num  482.629 0.988 1226.57 20.057 64.276 ...
 $ X2016                : num  493.07 2.16 1318.48 19.43 66.38 ...
 $ X2017                : num  506.21 2.67 1377.54 20.23 69.45 ...
 $ X2018                : num  517.9 2.3 1451.6 20.4 72.7 ...
 $ X2019                : num  533.52 3.02 1555.42 21.07 76.49 ...
 $ X2020                : num  552.31 3.52 1691.37 22.31 80.69 ...
 $ X2021                : num  574.5 4.02 1847.39 23.8 85.5 ...
 $ X2022                : num  600.44 4.51 2027.43 25.58 91.02 ...
 $ X2023                : num  630.53 5.01 2235.55 27.62 97.43 ...
 $ Estimates.Start.After: int  2016 2016 2016 2016 2016 2016 2016 2016 2016 2016 ...

Let's get the names and indices of factor variables:

In [220]:
factors <- which(sapply(weo, is.factor))
factors

               ISO   WEO.Subject.Code            Country Subject.Descriptor
                 2                  3                  4                  5
             Units              Scale
                 6                  7

And get the unique values (or levels) of each of these factor variables:

In [221]:
lapply(weo[, factors], levels)

$ISO
  [1] "ABW" "AFG" "AGO" "ALB" "ARE" "ARG" "ARM" "ATG" "AUS" "AUT" "AZE" "BDI"
 [13] "BEL" "BEN" "BFA" "BGD" "BGR" "BHR" "BHS" "BIH" "BLR" "BLZ" "BOL" "BRA"
 [25] "BRB" "BRN" "BTN" "BWA" "CAF" "CAN" "CHE" "CHL" "CHN" "CIV" "CMR" "COD"
 [37] "COG" "COL" "COM" "CPV" "CRI" "CYP" "CZE" "DEU" "DJI" "DMA" "DNK" "DOM"
 [49] "DZA" "ECU" "EGY" "ERI" "ESP" "EST" "ETH" "FIN" "FJI" "FRA" "FSM" "GAB"
 [61] "GBR" "GEO" "GHA" "GIN" "GMB" "GNB" "GNQ" "GRC" "GRD" "GTM" "GUY" "HKG"
 [73] "HND" "HRV" "HTI" "HUN" "IDN" "IND" "IRL" "IRN" "IRQ" "ISL" "ISR" "ITA"
 [85] "JAM" "JOR" "JPN" "KAZ" "KEN" "KGZ" "KHM" "KIR" "KNA" "KOR" "KWT" "LAO"
 [97] "LBN" "LBR" "LBY" "LCA" "LKA" "LSO" "LTU" "LUX" "LVA" "MAC" "MAR" "MDA"
[109] "MDG" "MDV" "MEX" "MHL" "MKD" "MLI" "MLT" "MMR" "MNE" "MNG" "MOZ" "MRT"
[121] "MUS" "MWI" "MYS" "NAM" "NER" "NGA" "NIC" "NLD" "NOR" "NPL" "NRU" "NZL"
[133] "OMN" "PAK" "PAN" "PER" "PHL" "PLW" "PNG" "POL" "PRI" "PRT" "PRY" "QAT"
[145] "ROU" "RUS" "RWA" "SAU" "SDN" "SEN" "SGP" "SLB" "SLE" "SLV" "SMR" "SOM"
[157] "SRB" "SSD" "STP" "SUR" "SVK" "SVN" "SWE" "SWZ" "SYC" "SYR" "TCD" "TGO"
[169] "THA" "TJK" "TKM" "TLS" "TON" "TTO" "TUN" "TUR" "TUV" "TWN" "TZA" "UGA"
[181] "UKR" "URY" "USA" "UVK" "UZB" "VCT" "VEN" "VNM" "VUT" "WSM" "YEM" "ZAF"
[193] "ZMB" "ZWE"

$WEO.Subject.Code
 [1] "BCA"          "BCA_NGDPD"    "FLIBOR6"      "GGR"          "GGR_NGDP"
 [6] "GGSB"         "GGSB_NPGDP"   "GGX"          "GGX_NGDP"     "GGXCNL"
[11] "GGXCNL_NGDP"  "GGXONLB"      "GGXONLB_NGDP" "GGXWDG"       "GGXWDG_NGDP"
[16] "GGXWDN"       "GGXWDN_NGDP"  "LE"           "LP"           "LUR"
[21] "NGAP_NPGDP"   "NGDP"         "NGDP_D"       "NGDP_FY"      "NGDP_R"
[26] "NGDP_RPCH"    "NGDPD"        "NGDPDPC"      "NGDPPC"       "NGDPRPC"
[31] "NGDPRPPPPC"   "NGSD_NGDP"    "NID_NGDP"     "PCPI"         "PCPIE"
[36] "PCPIEPCH"     "PCPIPCH"      "PPPEX"        "PPPGDP"       "PPPPC"
[41] "PPPSH"        "TM_RPCH"      "TMG_RPCH"     "TX_RPCH"      "TXG_RPCH"

$Country
  [1] "Afghanistan"                      "Albania"
  [3] "Algeria"                          "Angola"
  [5] "Antigua and Barbuda"              "Argentina"
  [7] "Armenia"                          "Aruba"
  [9] "Australia"                        "Austria"
 [11] "Azerbaijan"                       "Bahrain"
 [13] "Bangladesh"                       "Barbados"
 [15] "Belarus"                          "Belgium"
 [17] "Belize"                           "Benin"
 [19] "Bhutan"                           "Bolivia"
 [21] "Bosnia and Herzegovina"           "Botswana"
 [23] "Brazil"                           "Brunei Darussalam"
 [25] "Bulgaria"                         "Burkina Faso"
 [27] "Burundi"                          "C\xf4te d'Ivoire"
 [29] "Cabo Verde"                       "Cambodia"
 [31] "Cameroon"                         "Canada"
 [33] "Central African Republic"         "Chad"
 [35] "Chile"                            "China"
 [37] "Colombia"                         "Comoros"
 [39] "Costa Rica"                       "Croatia"
 [41] "Cyprus"                           "Czech Republic"
 [43] "Democratic Republic of the Congo" "Denmark"
 [45] "Djibouti"                         "Dominica"
 [47] "Dominican Republic"               "Ecuador"
 [49] "Egypt"                            "El Salvador"
 [51] "Equatorial Guinea"                "Eritrea"
 [53] "Estonia"                          "Eswatini"
 [55] "Ethiopia"                         "Fiji"
 [57] "Finland"                          "France"
 [59] "FYR Macedonia"                    "Gabon"
 [61] "Georgia"                          "Germany"
 [63] "Ghana"                            "Greece"
 [65] "Grenada"                          "Guatemala"
 [67] "Guinea"                           "Guinea-Bissau"
 [69] "Guyana"                           "Haiti"
 [71] "Honduras"                         "Hong Kong SAR"
 [73] "Hungary"                          "Iceland"
 [75] "India"                            "Indonesia"
 [77] "Iraq"                             "Ireland"
 [79] "Islamic Republic of Iran"         "Israel"
 [81] "Italy"                            "Jamaica"
 [83] "Japan"                            "Jordan"
 [85] "Kazakhstan"                       "Kenya"
 [87] "Kiribati"                         "Korea"
 [89] "Kosovo"                           "Kuwait"
 [91] "Kyrgyz Republic"                  "Lao P.D.R."
 [93] "Latvia"                           "Lebanon"
 [95] "Lesotho"                          "Liberia"
 [97] "Libya"                            "Lithuania"
 [99] "Luxembourg"                       "Macao SAR"
[101] "Madagascar"                       "Malawi"
[103] "Malaysia"                         "Maldives"
[105] "Mali"                             "Malta"
[107] "Marshall Islands"                 "Mauritania"
[109] "Mauritius"                        "Mexico"
[111] "Micronesia"                       "Moldova"
[113] "Mongolia"                         "Montenegro"
[115] "Morocco"                          "Mozambique"
[117] "Myanmar"                          "Namibia"
[119] "Nauru"                            "Nepal"
[121] "Netherlands"                      "New Zealand"
[123] "Nicaragua"                        "Niger"
[125] "Nigeria"                          "Norway"
[127] "Oman"                             "Pakistan"
[129] "Palau"                            "Panama"
[131] "Papua New Guinea"                 "Paraguay"
[133] "Peru"                             "Philippines"
[135] "Poland"                           "Portugal"
[137] "Puerto Rico"                      "Qatar"
[139] "Republic of Congo"                "Romania"
[141] "Russia"                           "Rwanda"
[143] "S\xe3o Tom\xe9 and Pr\xedncipe"   "Samoa"
[145] "San Marino"                       "Saudi Arabia"
[147] "Senegal"                          "Serbia"
[149] "Seychelles"                       "Sierra Leone"
[151] "Singapore"                        "Slovak Republic"
[153] "Slovenia"                         "Solomon Islands"
[155] "Somalia"                          "South Africa"
[157] "South Sudan"                      "Spain"
[159] "Sri Lanka"                        "St. Kitts and Nevis"
[161] "St. Lucia"                        "St. Vincent and the Grenadines"
[163] "Sudan"                            "Suriname"
[165] "Sweden"                           "Switzerland"
[167] "Syria"                            "Taiwan Province of China"
[169] "Tajikistan"                       "Tanzania"
[171] "Thailand"                         "The Bahamas"
[173] "The Gambia"                       "Timor-Leste"
[175] "Togo"                             "Tonga"
[177] "Trinidad and Tobago"              "Tunisia"
[179] "Turkey"                           "Turkmenistan"
[181] "Tuvalu"                           "Uganda"
[183] "Ukraine"                          "United Arab Emirates"
[185] "United Kingdom"                   "United States"
[187] "Uruguay"                          "Uzbekistan"
[189] "Vanuatu"                          "Venezuela"
[191] "Vietnam"                          "Yemen"
[193] "Zambia"                           "Zimbabwe"

$Subject.Descriptor
 [1] "Current account balance"
 [2] "Employment"
 [3] "General government gross debt"
 [4] "General government net debt"
 [5] "General government net lending/borrowing"
 [6] "General government primary net lending/borrowing"
 [7] "General government revenue"
 [8] "General government structural balance"
 [9] "General government total expenditure"
[10] "Gross domestic product based on purchasing-power-parity (PPP) share of world total"
[11] "Gross domestic product corresponding to fiscal year, current prices"
[12] "Gross domestic product per capita, constant prices"
[13] "Gross domestic product per capita, current prices"
[14] "Gross domestic product, constant prices"
[15] "Gross domestic product, current prices"
[16] "Gross domestic product, deflator"
[17] "Gross national savings"
[18] "Implied PPP conversion rate"
[19] "Inflation, average consumer prices"
[20] "Inflation, end of period consumer prices"
[21] "Output gap in percent of potential GDP"
[22] "Population"
[23] "Six-month London interbank offered rate (LIBOR)"
[24] "Total investment"
[25] "Unemployment rate"
[26] "Volume of exports of goods"
[27] "Volume of exports of goods and services"
[28] "Volume of Imports of goods"
[29] "Volume of imports of goods and services"

$Units
 [1] "Index"
 [2] "National currency"
 [3] "National currency per current international dollar"
 [4] "Percent"
 [5] "Percent change"
 [6] "Percent of GDP"
 [7] "Percent of potential GDP"
 [8] "Percent of total labor force"
 [9] "Persons"
[10] "Purchasing power parity; 2011 international dollar"
[11] "Purchasing power parity; international dollars"
[12] "U.S. dollars"

$Scale
[1] "Billions" "Millions" "Units"

#### Melting GDP per capita (PPP)

Now we are concerned with only the NGDPRPPPPC series "Purchasing power parity; 2011 international dollar"

So we filter the dataset:

In [222]:
weo_ppp <- weo[weo$WEO.Subject.Code == "NGDPRPPPPC",]

In [223]:
str(weo_ppp)

'data.frame':	194 obs. of  52 variables:
 $ WEO.Country.Code     : int  512 914 612 614 311 213 911 314 193 122 ...
 $ ISO                  : Factor w/ 194 levels "ABW","AFG","AGO",..: 2 4 49 3 8 6 7 1 9 10 ...
 $ WEO.Subject.Code     : Factor w/ 45 levels "BCA","BCA_NGDPD",..: 31 31 31 31 31 31 31 31 31 31 ...
 $ Country              : Factor w/ 194 levels "Afghanistan",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Subject.Descriptor   : Factor w/ 29 levels "Current account balance",..: 12 12 12 12 12 12 12 12 12 12 ...
 $ Units                : Factor w/ 12 levels "Index","National currency",..: 10 10 10 10 10 10 10 10 10 10 ...
 $ Scale                : Factor w/ 3 levels "Billions","Millions",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ X1980                : num  NA 4675 10804 5277 9082 ...
 $ X1981                : num  NA 4845 10793 4912 9503 ...
 $ X1982                : num  NA 4882 11127 4785 9605 ...
 $ X1983                : num  NA 4837 11355 4859 10268 ...
 $ X1984                : num  NA 4834 11618 5018 11497 ...
 $ X1985                : num  NA 4664 11702 4609 12586 ...
 $ X1986                : num  NA 4829 11371 4611 14281 ...
 $ X1987                : num  NA 4697 11002 4679 15496 ...
 $ X1988                : num  NA 4540 10479 4835 16550 ...
 $ X1989                : num  NA 4889 10716 4708 17580 ...
 $ X1990                : num  NA 4404 10662 4427 18127 ...
 $ X1991                : num  NA 3227 10279 4341 18372 ...
 $ X1992                : num  NA 3024 10194 3969 18285 ...
 $ X1993                : num  NA 3331 9749 2929 18825 ...
 $ X1994                : num  NA 3718 9449 2882 19574 ...
 $ X1995                : num  NA 4044 9616 3217 18228 ...
 $ X1996                : num  NA 4375 9804 3547 18908 ...
 $ X1997                : num  NA 3921 9749 3694 19393 ...
 $ X1998                : num  NA 4295 10085 3755 19771 ...
 $ X1999                : num  NA 4879 10249 3725 20009 ...
 $ X2000                : num  NA 5251 10450 3727 20906 ...
 $ X2001                : num  NA 5740 10607 3770 19532 ...
 $ X2002                : num  1027 6019 11037 4161 19524 ...
 $ X2003                : num  1072 6375 11657 4160 20488 ...
 $ X2004                : num  1039 6755 11978 4482 21435 ...
 $ X2005                : num  1122 7165 12496 5005 22565 ...
 $ X2006                : num  1147 7636 12517 5420 25168 ...
 $ X2007                : num  1252 8154 12746 6000 27207 ...
 $ X2008                : num  1268 8833 12770 6476 26910 ...
 $ X2009                : num  1490 9191 12729 6341 23400 ...
 $ X2010                : num  1571 9579 12929 6455 21485 ...
 $ X2011                : num  1622 9850 13027 6485 20813 ...
 $ X2012                : num  1789 10006 13189 6834 21311 ...
 $ X2013                : num  1829 10125 13274 6964 21065 ...
 $ X2014                : num  1819 10326 13491 7087 21904 ...
 $ X2015                : num  1784 10586 13693 6945 22550 ...
 $ X2016                : num  1774 10958 13854 6563 23504 ...
 $ X2017                : num  1777 11379 13786 6213 23893 ...
 $ X2018                : num  1793 11841 13868 6025 24467 ...
 $ X2019                : num  1822 12301 13991 6028 24932 ...
 $ X2020                : num  1861 12799 13997 6040 25284 ...
 $ X2021                : num  1910 13323 13920 6054 25515 ...
 $ X2022                : num  1969 13873 13798 6095 25748 ...
 $ X2023                : num  2040 14445 13651 6142 25984 ...
 $ Estimates.Start.After: int  2016 2011 2017 2015 2011 2016 2014 2017 2017 2017 ...

Now we want a long DF of four columns: Country names, country codes, years and per capita gdp in ppp values

In [224]:
names(weo_ppp)

 [1] "WEO.Country.Code"      "ISO"                   "WEO.Subject.Code"
 [4] "Country"               "Subject.Descriptor"    "Units"
 [7] "Scale"                 "X1980"                 "X1981"
[10] "X1982"                 "X1983"                 "X1984"
[13] "X1985"                 "X1986"                 "X1987"
[16] "X1988"                 "X1989"                 "X1990"
[19] "X1991"                 "X1992"                 "X1993"
[22] "X1994"                 "X1995"                 "X1996"
[25] "X1997"                 "X1998"                 "X1999"
[28] "X2000"                 "X2001"                 "X2002"
[31] "X2003"                 "X2004"                 "X2005"
[34] "X2006"                 "X2007"                 "X2008"
[37] "X2009"                 "X2010"                 "X2011"
[40] "X2012"                 "X2013"                 "X2014"
[43] "X2015"                 "X2016"                 "X2017"
[46] "X2018"                 "X2019"                 "X2020"
[49] "X2021"                 "X2022"                 "X2023"
[52] "Estimates.Start.After"

In [225]:
cols <- sprintf("X%s", 1980:2023)
cols

 [1] "X1980" "X1981" "X1982" "X1983" "X1984" "X1985" "X1986" "X1987" "X1988"
[10] "X1989" "X1990" "X1991" "X1992" "X1993" "X1994" "X1995" "X1996" "X1997"
[19] "X1998" "X1999" "X2000" "X2001" "X2002" "X2003" "X2004" "X2005" "X2006"
[28] "X2007" "X2008" "X2009" "X2010" "X2011" "X2012" "X2013" "X2014" "X2015"
[37] "X2016" "X2017" "X2018" "X2019" "X2020" "X2021" "X2022" "X2023"

In [226]:
weo_ppp_long <- reshape(weo_ppp,
                      idvar = c("WEO.Country.Code", "Country"),
                      varying = cols,
                        times = cols,
                      v.name = "NGDPRPPPPC",
                      direction = "long")

In [227]:
str(weo_ppp_long)

'data.frame':	8536 obs. of  10 variables:
 $ WEO.Country.Code     : int  512 914 612 614 311 213 911 314 193 122 ...
 $ ISO                  : Factor w/ 194 levels "ABW","AFG","AGO",..: 2 4 49 3 8 6 7 1 9 10 ...
 $ WEO.Subject.Code     : Factor w/ 45 levels "BCA","BCA_NGDPD",..: 31 31 31 31 31 31 31 31 31 31 ...
 $ Country              : Factor w/ 194 levels "Afghanistan",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Subject.Descriptor   : Factor w/ 29 levels "Current account balance",..: 12 12 12 12 12 12 12 12 12 12 ...
 $ Units                : Factor w/ 12 levels "Index","National currency",..: 10 10 10 10 10 10 10 10 10 10 ...
 $ Scale                : Factor w/ 3 levels "Billions","Millions",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ Estimates.Start.After: int  2016 2011 2017 2015 2011 2016 2014 2017 2017 2017 ...
 $ time                 : chr  "X1980" "X1980" "X1980" "X1980" ...
 $ NGDPRPPPPC           : num  NA 4675 10804 5277 9082 ...
 - attr(*, "reshapeLong")=List of 4
  ..$ varying:List of 1
  .. ..$ NGDPRPPPPC: chr  "X1980" "X1981" "X1982" "X1983" ...
  .. ..- attr(*, "v.names")= chr "NGDPRPPPPC"
  .. ..- attr(*, "times")= chr  "X1980" "X1981" "X1982" "X1983" ...
  ..$ v.names: chr "NGDPRPPPPC"
  ..$ idvar  : chr  "WEO.Country.Code" "Country"
  ..$ timevar: chr "time"

We can clear rownames:

In [228]:
rownames(weo_ppp_long) <- NULL

In [229]:
weo_ppp_long_2 <- weo_ppp_long[,c("Country", "WEO.Country.Code", "ISO", "time", "NGDPRPPPPC")]
weo_ppp_long_2

     Country                  WEO.Country.Code ISO time  NGDPRPPPPC
1    Afghanistan              512              AFG X1980        NA
2    Albania                  914              ALB X1980  4674.883
3    Algeria                  612              DZA X1980 10804.443
4    Angola                   614              AGO X1980  5276.667
5    Antigua and Barbuda      311              ATG X1980  9081.960
6    Argentina                213              ARG X1980 14709.172
7    Armenia                  911              ARM X1980        NA
8    Aruba                    314              ABW X1980        NA
9    Australia                193              AUS X1980 24398.012
10   Austria                  122              AUT X1980 26129.809
11   Azerbaijan               912              AZE X1980        NA
12   The Bahamas              313              BHS X1980 27652.318
13   Bahrain                  419              BHR X1980 40934.983
14   Bangladesh               513              BGD X1980  1159.722
15   Barbados                 316              BRB X1980 14066.335
16   Belarus                  913              BLR X1980        NA
17   Belgium                  124              BEL X1980 25189.821
18   Belize                   339              BLZ X1980  3183.026
19   Benin                    638              BEN X1980  1724.655
20   Bhutan                   514              BTN X1980  1102.657
21   Bolivia                  218              BOL X1980  4866.147
22   Bosnia and Herzegovina   963              BIH X1980        NA
23   Botswana                 616              BWA X1980  4265.308
24   Brazil                   223              BRA X1980 11373.057
25   Brunei Darussalam        516              BRN X1980        NA
26   Bulgaria                 918              BGR X1980 10374.302
27   Burkina Faso             748              BFA X1980   759.033
28   Burundi                  618              BDI X1980   790.190
29   Cabo Verde               624              CPV X1980  1857.407
30   Cambodia                 522              KHM X1980        NA
⋮    ⋮                        ⋮                ⋮   ⋮     ⋮
8507 Sudan                    732              SDN X2023  3156.732
8508 Suriname                 366              SUR X2023 14517.698
8509 Sweden                   144              SWE X2023 49292.623
8510 Switzerland              146              CHE X2023 59165.627
8511 Syria                    463              SYR X2023        NA
8512 Taiwan Province of China 528              TWN X2023 51794.699
8513 Tajikistan               923              TJK X2023  3393.110
8514 Tanzania                 738              TZA X2023  3795.574
8515 Thailand                 578              THA X2023 20247.901
8516 Timor-Leste              537              TLS X2023  3124.031
8517 Togo                     742              TGO X2023  1762.331
8518 Tonga                    866              TON X2023  6561.061
8519 Trinidad and Tobago      369              TTO X2023 30282.128
8520 Tunisia                  744              TUN X2023 12508.277
8521 Turkey                   186              TUR X2023 26072.259
8522 Turkmenistan             925              TKM X2023 21658.002
8523 Tuvalu                   869              TUV X2023  4327.978
8524 Uganda                   746              UGA X2023  2580.630
8525 Ukraine                  926              UKR X2023  9784.539
8526 United Arab Emirates     466              ARE X2023 63046.461
8527 United Kingdom           112              GBR X2023 42824.925
8528 United States            111              USA X2023 58800.370
8529 Uruguay                  298              URY X2023 23770.394
8530 Uzbekistan               927              UZB X2023  8211.536
8531 Vanuatu                  846              VUT X2023  2632.370
8532 Venezuela                299              VEN X2023  9325.787
8533 Vietnam                  582              VNM X2023  8692.397
8534 Yemen                    474              YEM X2023  2982.110
8535 Zambia                   754              ZMB X2023  3926.514
8536 Zimbabwe                 698              ZWE X2023  2347.893

We can convert year values from X1980 to 1980 and make them numeric:

In [230]:
weo_ppp_long_2$time <- as.integer(gsub("X", "", weo_ppp_long_2$time))
weo_ppp_long_2

     Country                  WEO.Country.Code ISO time NGDPRPPPPC
1    Afghanistan              512              AFG 1980        NA
2    Albania                  914              ALB 1980  4674.883
3    Algeria                  612              DZA 1980 10804.443
4    Angola                   614              AGO 1980  5276.667
5    Antigua and Barbuda      311              ATG 1980  9081.960
6    Argentina                213              ARG 1980 14709.172
7    Armenia                  911              ARM 1980        NA
8    Aruba                    314              ABW 1980        NA
9    Australia                193              AUS 1980 24398.012
10   Austria                  122              AUT 1980 26129.809
11   Azerbaijan               912              AZE 1980        NA
12   The Bahamas              313              BHS 1980 27652.318
13   Bahrain                  419              BHR 1980 40934.983
14   Bangladesh               513              BGD 1980  1159.722
15   Barbados                 316              BRB 1980 14066.335
16   Belarus                  913              BLR 1980        NA
17   Belgium                  124              BEL 1980 25189.821
18   Belize                   339              BLZ 1980  3183.026
19   Benin                    638              BEN 1980  1724.655
20   Bhutan                   514              BTN 1980  1102.657
21   Bolivia                  218              BOL 1980  4866.147
22   Bosnia and Herzegovina   963              BIH 1980        NA
23   Botswana                 616              BWA 1980  4265.308
24   Brazil                   223              BRA 1980 11373.057
25   Brunei Darussalam        516              BRN 1980        NA
26   Bulgaria                 918              BGR 1980 10374.302
27   Burkina Faso             748              BFA 1980   759.033
28   Burundi                  618              BDI 1980   790.190
29   Cabo Verde               624              CPV 1980  1857.407
30   Cambodia                 522              KHM 1980        NA
⋮    ⋮                        ⋮                ⋮   ⋮    ⋮
8507 Sudan                    732              SDN 2023  3156.732
8508 Suriname                 366              SUR 2023 14517.698
8509 Sweden                   144              SWE 2023 49292.623
8510 Switzerland              146              CHE 2023 59165.627
8511 Syria                    463              SYR 2023        NA
8512 Taiwan Province of China 528              TWN 2023 51794.699
8513 Tajikistan               923              TJK 2023  3393.110
8514 Tanzania                 738              TZA 2023  3795.574
8515 Thailand                 578              THA 2023 20247.901
8516 Timor-Leste              537              TLS 2023  3124.031
8517 Togo                     742              TGO 2023  1762.331
8518 Tonga                    866              TON 2023  6561.061
8519 Trinidad and Tobago      369              TTO 2023 30282.128
8520 Tunisia                  744              TUN 2023 12508.277
8521 Turkey                   186              TUR 2023 26072.259
8522 Turkmenistan             925              TKM 2023 21658.002
8523 Tuvalu                   869              TUV 2023  4327.978
8524 Uganda                   746              UGA 2023  2580.630
8525 Ukraine                  926              UKR 2023  9784.539
8526 United Arab Emirates     466              ARE 2023 63046.461
8527 United Kingdom           112              GBR 2023 42824.925
8528 United States            111              USA 2023 58800.370
8529 Uruguay                  298              URY 2023 23770.394
8530 Uzbekistan               927              UZB 2023  8211.536
8531 Vanuatu                  846              VUT 2023  2632.370
8532 Venezuela                299              VEN 2023  9325.787
8533 Vietnam                  582              VNM 2023  8692.397
8534 Yemen                    474              YEM 2023  2982.110
8535 Zambia                   754              ZMB 2023  3926.514
8536 Zimbabwe                 698              ZWE 2023  2347.893

#### Casting 2016 data

Now let's select only a single year, e.g 2016 and create a wide matrix of subjects on the columns and countries on the rows:

In [231]:
names(weo_ppp)

 [1] "WEO.Country.Code"      "ISO"                   "WEO.Subject.Code"
 [4] "Country"               "Subject.Descriptor"    "Units"
 [7] "Scale"                 "X1980"                 "X1981"
[10] "X1982"                 "X1983"                 "X1984"
[13] "X1985"                 "X1986"                 "X1987"
[16] "X1988"                 "X1989"                 "X1990"
[19] "X1991"                 "X1992"                 "X1993"
[22] "X1994"                 "X1995"                 "X1996"
[25] "X1997"                 "X1998"                 "X1999"
[28] "X2000"                 "X2001"                 "X2002"
[31] "X2003"                 "X2004"                 "X2005"
[34] "X2006"                 "X2007"                 "X2008"
[37] "X2009"                 "X2010"                 "X2011"
[40] "X2012"                 "X2013"                 "X2014"
[43] "X2015"                 "X2016"                 "X2017"
[46] "X2018"                 "X2019"                 "X2020"
[49] "X2021"                 "X2022"                 "X2023"
[52] "Estimates.Start.After"

In [232]:
weo_2016 <- weo[,c(names(weo_ppp)[1:7], "X2016")]

In [233]:
str(weo_2016)

'data.frame':	8730 obs. of  8 variables:
 $ WEO.Country.Code  : int  512 512 512 512 512 512 512 512 512 512 ...
 $ ISO               : Factor w/ 194 levels "ABW","AFG","AGO",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ WEO.Subject.Code  : Factor w/ 45 levels "BCA","BCA_NGDPD",..: 25 26 22 27 39 23 30 31 29 28 ...
 $ Country           : Factor w/ 194 levels "Afghanistan",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Subject.Descriptor: Factor w/ 29 levels "Current account balance",..: 14 14 15 15 15 16 12 12 13 13 ...
 $ Units             : Factor w/ 12 levels "Index","National currency",..: 2 5 2 12 11 1 2 10 2 12 ...
 $ Scale             : Factor w/ 3 levels "Billions","Millions",..: 1 NA 1 1 1 NA 3 3 3 3 ...
 $ X2016             : num  493.07 2.16 1318.48 19.43 66.38 ...

In [234]:
?reshape

In [235]:
weo_2016_wide <- reshape(weo_2016,
                      idvar = c("WEO.Country.Code", "Country"),
                      v.names = "X2016",
                      timevar = "WEO.Subject.Code",
                      drop = c("Subject.Descriptor", "Units", "Scale"),
                      direction = "wide")

In [236]:
str(weo_2016_wide)

'data.frame':	194 obs. of  48 variables:
 $ WEO.Country.Code  : int  512 914 612 614 311 213 911 314 193 122 ...
 $ ISO               : Factor w/ 194 levels "ABW","AFG","AGO",..: 2 4 49 3 8 6 7 1 9 10 ...
 $ Country           : Factor w/ 194 levels "Afghanistan",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ X2016.NGDP_R      : num  493.07 760.32 7270.16 1588.96 3.25 ...
 $ X2016.NGDP_RPCH   : num  2.16 3.35 3.2 -2.58 5.35 ...
 $ X2016.NGDP        : num  1318.48 1475.25 17525.1 16549.56 3.94 ...
 $ X2016.NGDPD       : num  19.43 11.88 160.13 101.12 1.46 ...
 $ X2016.PPPGDP      : num  66.38 34.03 609.7 194.89 2.29 ...
 $ X2016.NGDP_D      : num  267 194 241 1042 121 ...
 $ X2016.NGDPRPC     : num  14228 264357 178355 57774 35967 ...
 $ X2016.NGDPRPPPPC  : num  1774 10958 13854 6563 23504 ...
 $ X2016.NGDPPC      : num  38045 512934 429934 601737 43674 ...
 $ X2016.NGDPDPC     : num  561 4132 3928 3677 16176 ...
 $ X2016.PPPPC       : num  1916 11831 14958 7086 25376 ...
 $ X2016.NGAP_NPGDP  : num  NA NA NA NA NA ...
 $ X2016.PPPSH       : num  0.055 0.028 0.505 0.161 0.002 0.729 0.021 0.003 0.993 0.348 ...
 $ X2016.PPPEX       : num  19.86 43.36 28.74 84.92 1.72 ...
 $ X2016.NID_NGDP    : num  18.5 24.3 53.9 27.2 24.3 ...
 $ X2016.NGSD_NGDP   : num  25.8 16.7 37.4 24.5 24.5 ...
 $ X2016.PCPI        : num  106 101 184 194 134 ...
 $ X2016.PCPIPCH     : num  4.384 1.275 6.398 30.694 -0.489 ...
 $ X2016.PCPIE       : num  109 102 188 222 134 ...
 $ X2016.PCPIEPCH    : num  4.59 2.18 6.96 41.12 -1.12 ...
 $ X2016.FLIBOR6     : num  NA NA NA NA NA NA NA NA NA NA ...
 $ X2016.TM_RPCH     : num  -8.13 8.16 -2.29 -25.27 10.67 ...
 $ X2016.TMG_RPCH    : num  -7.27 9.23 -2.29 -32.29 10.78 ...
 $ X2016.TX_RPCH     : num  -16.439 10.283 9.612 -0.606 -0.444 ...
 $ X2016.TXG_RPCH    : num  11.425 -0.754 7.883 0.571 21.438 ...
 $ X2016.LUR         : num  NA 15.2 10.5 NA NA ...
 $ X2016.LE          : num  NA NA NA NA NA ...
 $ X2016.LP          : num  34.66 2.88 40.76 27.5 0.09 ...
 $ X2016.GGR         : num  344.327 403.131 5011.581 2899.97 0.951 ...
 $ X2016.GGR_NGDP    : num  26.1 27.3 28.6 17.5 24.1 ...
 $ X2016.GGX         : num  342.771 429.073 7297.494 3648.044 0.956 ...
 $ X2016.GGX_NGDP    : num  26 29.1 41.6 22 24.3 ...
 $ X2016.GGXCNL      : num  1.556 -25.941 -2285.913 -748.074 -0.006 ...
 $ X2016.GGXCNL_NGDP : num  0.118 -1.758 -13.044 -4.52 -0.143 ...
 $ X2016.GGSB        : num  NA NA NA -251 NA ...
 $ X2016.GGSB_NPGDP  : num  NA NA NA -1.21 NA ...
 $ X2016.GGXONLB     : num  2.35 10.318 -2298.13 -277.674 0.093 ...
 $ X2016.GGXONLB_NGDP: num  0.178 0.699 -13.113 -1.678 2.356 ...
 $ X2016.GGXWDN      : num  NA 1004 2334 NA NA ...
 $ X2016.GGXWDN_NGDP : num  NA 68 13.3 NA NA ...
 $ X2016.GGXWDG      : num  103.2 1079.7 3582.1 12454 3.4 ...
 $ X2016.GGXWDG_NGDP : num  7.82 73.19 20.44 75.25 86.22 ...
 $ X2016.NGDP_FY     : num  1318.48 1475.25 17525.1 16549.56 3.94 ...
 $ X2016.BCA         : num  1.409 -0.899 -26.473 -4.834 0.002 ...
 $ X2016.BCA_NGDPD   : num  7.253 -7.563 -16.532 -4.78 0.151 ...
 - attr(*, "reshapeWide")=List of 5
  ..$ v.names: chr "X2016"
  ..$ timevar: chr "WEO.Subject.Code"
  ..$ idvar  : chr  "WEO.Country.Code" "Country"
  ..$ times  : Factor w/ 45 levels "BCA","BCA_NGDPD",..: 25 26 22 27 39 23 30 31 29 28 ...
  ..$ varying: chr [1, 1:45] "X2016.NGDP_R" "X2016.NGDP_RPCH" "X2016.NGDP" "X2016.NGDPD" ...

In [237]:
weo_2016_wide

     WEO.Country.Code ISO Country                  X2016.NGDP_R X2016.NGDP_RPCH
1    512              AFG Afghanistan                493.073     2.164
46   914              ALB Albania                    760.317     3.352
91   612              DZA Algeria                   7270.163     3.200
136  614              AGO Angola                    1588.961    -2.580
181  311              ATG Antigua and Barbuda          3.247     5.348
226  213              ARG Argentina                  708.338    -1.823
271  911              ARM Armenia                   3367.848     0.261
316  314              ABW Aruba                        3.310    -0.124
361  193              AUS Australia                 1678.081     2.606
406  122              AUT Austria                    317.149     1.451
451  912              AZE Azerbaijan                  28.464    -3.100
496  313              BHS The Bahamas                 10.590    -1.690
541  419              BHR Bahrain                     11.973     3.462
586  513              BGD Bangladesh                9157.182     7.202
631  316              BRB Barbados                     9.245     2.273
676  913              BLR Belarus                     75.536    -2.526
721  124              BEL Belgium                    416.085     1.412
766  339              BLZ Belize                       2.809    -0.487
811  638              BEN Benin                     4094.926     3.969
856  514              BTN Bhutan                      61.668     7.316
901  218              BOL Bolivia                     44.374     4.264
946  963              BIH Bosnia and Herzegovina      27.971     3.215
991  616              BWA Botswana                    89.797     4.315
1036 223              BRA Brazil                    1151.607    -3.469
1081 516              BRN Brunei Darussalam           18.137    -2.465
1126 918              BGR Bulgaria                    83.905     3.941
1171 748              BFA Burkina Faso              4635.888     5.915
1216 618              BDI Burundi                   1723.917    -1.042
1261 624              CPV Cabo Verde                 146.899     4.706
1306 522              KHM Cambodia                 45999.749     6.953
⋮    ⋮                ⋮   ⋮                        ⋮            ⋮
7381 732              SDN Sudan                         21.722    2.994
7426 366              SUR Suriname                       9.426   -5.139
7471 144              SWE Sweden                      4484.096    2.684
7516 146              CHE Switzerland                  671.834    1.587
7561 463              SYR Syria                             NA       NA
7606 528              TWN Taiwan Province of China   15875.635    1.410
7651 923              TJK Tajikistan                     0.241    6.900
7696 738              TZA Tanzania                   47164.902    6.953
7741 578              THA Thailand                    9823.122    3.283
7786 537              TLS Timor-Leste                    1.694    5.321
7831 742              TGO Togo                        2102.745    5.100
7876 866              TON Tonga                          0.849    4.170
7921 369              TTO Trinidad and Tobago          158.899   -6.076
7966 744              TUN Tunisia                       69.683    1.108
8011 186              TUR Turkey                      1576.365    3.184
8056 925              TKM Turkmenistan                 100.343    6.200
8101 869              TUV Tuvalu                         0.038    3.035
8146 746              UGA Uganda                     55705.922    2.323
8191 926              UKR Ukraine                      985.299    2.441
8236 466              ARE United Arab Emirates        1411.057    2.988
8281 112              GBR United Kingdom              1969.524    1.789
8326 111              USA United States              17659.200    1.567
8371 298              URY Uruguay                      681.594    1.690
8416 927              UZB Uzbekistan                  1135.699    7.800
8461 846              VUT Vanuatu                       63.632    3.467
8506 299              VEN Venezuela                         NA  -16.456
8551 582              VNM Vietnam                  3054470.219    6.211
8596 474              YEM Yemen                        262.446  -13.621
8641 754              ZMB Zambia                       129.700    3.757
8686 698              ZWE Zimbabwe                      14.100    0.665
     X2016.NGDP  X2016.NGDPD X2016.PPPGDP X2016.NGDP_D X2016.NGDPRPC ⋯
1     1318.478     19.428      66.384      267.400       14227.635   ⋯
46    1475.251     11.885      34.027      194.031      264356.814   ⋯
91   17525.100    160.130     609.703      241.055      178355.244   ⋯
136  16549.565    101.124     194.886     1041.534       57774.086   ⋯
181      3.942      1.460       2.291      121.429       35966.870   ⋯
226   8188.749    554.107     879.799     1156.051       16246.257   ⋯
271   5067.294     10.546      25.878      150.461     1126114.977   ⋯
316      4.738      2.647       4.030      143.145       29984.334   ⋯
361   1699.883   1264.524    1198.301      101.299       68822.495   ⋯
406    353.297    390.961     420.099      111.398       36287.922   ⋯
451     60.394     37.810     168.849      212.173        2932.769   ⋯
496     11.839     11.839      11.664      111.791       28756.649   ⋯
541     12.118     32.228      67.312      101.207        8409.884   ⋯
586  18543.396    235.623     630.738      202.501       56696.232   ⋯
631      9.681      4.841       5.129      104.724       32974.774   ⋯
676     94.949     47.703     171.862      125.701        7952.790   ⋯
721    422.677    467.738     510.527      101.584       36785.492   ⋯
766      3.640      1.820       3.134      129.587        7472.974   ⋯
811   5083.739      8.576      23.592      124.147      377913.594   ⋯
856    140.380      2.117       6.585      227.637       77944.910   ⋯
901    234.533     34.189      78.853      528.534        4072.420   ⋯
946     29.899     16.910      42.729      106.892        7953.582   ⋯
991    170.589     15.660      37.403      189.971       39905.289   ⋯
1036  6257.777   1793.312    3156.151      543.395        5587.561   ⋯
1081    15.748     11.399      32.801       86.829       42908.639   ⋯
1126    94.130     53.236     145.420      112.186       11814.533   ⋯
1171  6704.200     11.310      33.060      144.615      248620.647   ⋯
1216  5192.319      3.138       7.857      301.193      163710.285   ⋯
1261   165.782      1.664       3.564      112.855      276485.560   ⋯
1306 81241.866     20.043      58.969      176.614     2915785.644   ⋯
⋮    ⋮           ⋮           ⋮            ⋮            ⋮             ⋱
7381     639.604    55.787     171.623     2944.516         548.550  ⋯
7426      20.420     3.278       8.367      216.637       16397.992  ⋯
7471    4385.497   512.205     497.816       97.801      448627.050  ⋯
7516     660.460   670.249     504.922       98.307       80681.434  ⋯
7561          NA        NA          NA           NA              NA  ⋯
7606   17152.093   530.608    1134.190      108.040      674416.274  ⋯
7651      54.471     6.953      26.052    22628.176          27.559  ⋯
7696  103744.606    47.653     150.451      219.961      968942.076  ⋯
7741   14533.475   411.839    1167.713      147.952      142403.031  ⋯
7786       2.521     2.521       7.265       80.543        2582.005  ⋯
7831    2643.472     4.460      12.192      125.715      276445.144  ⋯
7876       0.947     0.428       0.566      111.566        8438.652  ⋯
7921     151.043    22.657      43.167       95.056      116412.897  ⋯
7966      89.804    41.808     132.491      128.875        6110.838  ⋯
8011    2608.526   863.390    1996.516      165.477       19750.240  ⋯
8056     126.630    36.180      95.591      126.197       17783.706  ⋯
8101       0.049     0.037       0.040      127.957        3532.106  ⋯
8146   86555.302    24.509      83.482      155.379     1523655.781  ⋯
8191    2385.367    93.349     353.741      242.096       23230.021  ⋯
8236    1311.248   357.045     677.602       92.927      143167.553  ⋯
8281    1969.524  2669.107    2823.724      100.000       30001.280  ⋯
8326   18707.150 18707.150   18707.150      105.934       54575.840  ⋯
8371    1589.195    52.687      74.715      233.159      195847.912  ⋯
8416  199993.374    67.069     207.855    17609.713       35968.304  ⋯
8461      87.250     0.798       0.727      137.117      231578.270  ⋯
8506       0.238   236.116     435.386    50687.489           0.015  ⋯
8551 4502732.989   201.326     596.036      147.415    32953257.340  ⋯
8596    8890.543    36.437      76.823     3387.565        9008.815  ⋯
8641     216.098    20.941      65.420      166.614        7758.565  ⋯
8686      16.117    16.117      32.422      114.306         972.340  ⋯
     X2016.GGSB_NPGDP X2016.GGXONLB X2016.GGXONLB_NGDP X2016.GGXWDN
1        NA               2.350       0.178                  NA
46       NA              10.318       0.699            1003.785
91       NA           -2298.130     -13.113            2334.139
136  -1.209            -277.674      -1.678                  NA
181      NA               0.093       2.356                  NA
226  -6.671            -383.895      -4.688                  NA
271      NA            -187.129      -3.693                  NA
316      NA               0.140       2.959                  NA
361  -2.159             -27.619      -1.625             322.323
406  -0.498               0.355       0.100             203.538
451      NA              -0.466      -0.772                  NA
496      NA              -0.035      -0.300                  NA
541      NA              -1.766     -14.577                  NA
586      NA            -251.340      -1.450                  NA
631  -5.398               0.218       2.230              14.428
676      NA               0.294       0.310                  NA
721  -2.204               0.245       0.058             389.145
766      NA              -0.041      -1.130                  NA
811      NA            -237.086      -4.664                  NA
856      NA               0.545       0.389                  NA
901      NA             -14.665      -6.253              67.665
946   0.953               0.360       1.203              10.916
991      NA             -13.227      -7.647              -5.497
1036 -7.381            -156.701      -2.504            2892.913
1081     NA              -3.414     -21.680                  NA
1126  1.985               1.742       1.851              10.781
1171     NA            -169.064      -2.522                  NA
1216     NA            -264.801      -5.100                  NA
1261     NA              -1.275      -0.769             200.628
1306     NA            -832.707      -1.025                  NA
⋮    ⋮                ⋮             ⋮                  ⋮
7381     NA               -19.788    -3.094                   NA
7426 -6.972                -1.232    -6.032                   NA
7471  0.907                47.902     1.092              391.104
7516  0.488                 3.809     0.577              150.500
7561     NA                    NA        NA                   NA
7606 -2.022                    NA        NA             5891.823
7651     NA                -4.544    -8.341                   NA
7696     NA              -656.593    -0.633                   NA
7741 -0.776               139.241     0.972                   NA
7786     NA                -0.884   -35.073                   NA
7831     NA              -189.827    -7.181                   NA
7876     NA                 0.024     2.569                   NA
7921     NA               -15.167    -9.981              -11.109
7966 -5.750                -3.325    -3.702               54.240
8011 -2.061               -24.934    -0.956              611.336
8056     NA                    NA        NA                   NA
8101     NA                 0.001     1.799                   NA
8146     NA             -2105.241    -2.432                   NA
8191 -1.944                44.524     1.867                   NA
8236     NA               -24.482    -1.867                   NA
8281 -2.850               -27.235    -1.383             1552.808
8326 -3.949              -430.007    -2.299            15197.253
8371 -3.556                -8.603    -0.541              475.658
8416     NA               934.628     0.467                   NA
8461     NA                -4.427    -5.074                   NA
8506     NA                -0.048   -16.847                   NA
8551     NA           -129358.000    -2.873                   NA
8596     NA              -322.683    -3.630             5968.908
8641     NA                -5.087    -2.354              110.926
8686     NA                -1.234    -7.654                   NA
     X2016.GGXWDN_NGDP X2016.GGXWDG X2016.GGXWDG_NGDP X2016.NGDP_FY X2016.BCA
1         NA             103.151      7.823            1318.478       1.409
46    68.042            1079.687     73.187            1475.251      -0.899
91    13.319            3582.079     20.440           17525.100     -26.473
136       NA           12453.983     75.253           16549.565      -4.834
181       NA               3.399     86.215               3.942       0.002
226       NA            4500.097     54.955            8188.749     -14.693
271       NA            2628.002     51.862            5067.294      -0.238
316       NA               4.012     84.677               4.738       0.133
361   18.961             690.691     40.632            1699.883     -41.447
406   57.611             295.200     83.556             353.297       8.313
451       NA              30.626     50.711              60.394      -1.363
496       NA               5.965     50.482              11.816      -0.868
541       NA               9.858     81.350              12.118      -1.493
586       NA            5775.854     33.331           17328.637       1.391
631  147.897              14.548    149.122               9.756      -0.206
676       NA              50.780     53.482              94.949      -1.669
721   92.067             448.163    106.030             422.677       0.451
766       NA               3.506     95.867               3.657      -0.163
811       NA            2525.513     49.678            5083.739      -0.808
856       NA             160.313    114.200             140.380      -0.621
901   28.851             105.221     44.864             234.533      -1.932
946   36.511              13.180     44.081              29.899      -0.821
991   -3.178              26.990     15.604             172.970       2.147
1036  46.229            4908.003     78.430            6257.777     -23.546
1081      NA               0.473      3.005              15.748       1.470
1126  11.453              25.751     27.357              94.130       1.207
1171      NA            2565.433     38.266            6704.200      -0.820
1216      NA            2514.103     48.420            5192.319      -0.411
1261 121.019             211.562    127.614             165.782      -0.040
1306      NA           23660.932     29.124           81241.866      -1.731
⋮    ⋮                 ⋮            ⋮                 ⋮             ⋮
7381     NA                636.540   99.521               639.604     -4.213
7426     NA                 15.488   75.845                20.420     -0.169
7471  8.918               1855.931   42.320              4385.497     21.841
7516 22.787                276.358   41.843               660.460     63.157
7561     NA                     NA       NA                    NA         NA
7606 34.350               6214.461   36.232             17152.093     72.781
7651     NA                 22.891   42.023                54.471     -0.362
7696     NA              39387.151   37.965            103744.606     -2.137
7741     NA               5988.387   41.805             14324.455     48.237
7786     NA                  0.077    3.062                 2.521     -0.544
7831     NA               2156.687   81.585              2643.472     -0.416
7876     NA                     NA       NA                 0.947     -0.030
7921 -7.311                 56.248   37.016               151.956     -0.653
7966 60.398                 55.922   62.271                89.804     -3.694
8011 23.436                738.501   28.311              2608.526    -33.137
8056     NA                 30.478   24.068               126.630     -7.207
8101     NA                  0.023   47.223                 0.049      0.008
8146     NA              32397.320   37.430             86555.302     -0.707
8191     NA               1936.290   81.174              2385.367     -1.394
8236     NA                265.091   20.217              1311.248     13.233
8281 78.842               1731.392   87.909              1969.524   -139.301
8326 81.238              19986.304  106.838             18707.150   -432.874
8371 29.931                978.487   61.571              1589.195      0.410
8416     NA              20923.533   10.462            199993.374      0.384
8461     NA                 40.186   46.059                87.250     -0.037
8506     NA                  0.089   31.299                 0.284     -3.870
8551     NA            2699026.645   59.942           4502732.989      5.924
8596 67.138               6055.654   68.113              8890.543     -1.868
8641 51.331                131.101   60.668               216.098     -0.934
8686     NA                 11.269   69.920                16.117     -0.553
     X2016.BCA_NGDPD
1      7.253
46    -7.563
91   -16.532
136   -4.780
181    0.151
226   -2.652
271   -2.258
316    5.018
361   -3.278
406    2.126
451   -3.606
496   -7.329
541   -4.632
586    0.590
631   -4.251
676   -3.499
721    0.097
766   -8.980
811   -9.417
856  -29.357
901   -5.650
946   -4.853
991   13.711
1036  -1.313
1081  12.900
1126   2.268
1171  -7.248
1216 -13.085
1261  -2.399
1306  -8.636
⋮    ⋮
7381  -7.553
7426  -5.164
7471   4.264
7516   9.423
7561      NA
7606  13.717
7651  -5.210
7696  -4.485
7741  11.713
7786 -21.598
7831  -9.321
7876  -6.906
7921  -2.883
7966  -8.836
8011  -3.838
8056 -19.921
8101  23.212
8146  -2.886
8191  -1.493
8236   3.706
8281  -5.219
8326  -2.314
8371   0.779
8416   0.573
8461  -4.646
8506  -1.639
8551   2.942
8596  -5.127
8641  -4.461
8686  -3.430

We may have to correct column names:

In [238]:
names_2016 <- names(weo_2016_wide)
names_2016

 [1] "WEO.Country.Code"   "ISO"                "Country"
 [4] "X2016.NGDP_R"       "X2016.NGDP_RPCH"    "X2016.NGDP"
 [7] "X2016.NGDPD"        "X2016.PPPGDP"       "X2016.NGDP_D"
[10] "X2016.NGDPRPC"      "X2016.NGDPRPPPPC"   "X2016.NGDPPC"
[13] "X2016.NGDPDPC"      "X2016.PPPPC"        "X2016.NGAP_NPGDP"
[16] "X2016.PPPSH"        "X2016.PPPEX"        "X2016.NID_NGDP"
[19] "X2016.NGSD_NGDP"    "X2016.PCPI"         "X2016.PCPIPCH"
[22] "X2016.PCPIE"        "X2016.PCPIEPCH"     "X2016.FLIBOR6"
[25] "X2016.TM_RPCH"      "X2016.TMG_RPCH"     "X2016.TX_RPCH"
[28] "X2016.TXG_RPCH"     "X2016.LUR"          "X2016.LE"
[31] "X2016.LP"           "X2016.GGR"          "X2016.GGR_NGDP"
[34] "X2016.GGX"          "X2016.GGX_NGDP"     "X2016.GGXCNL"
[37] "X2016.GGXCNL_NGDP"  "X2016.GGSB"         "X2016.GGSB_NPGDP"
[40] "X2016.GGXONLB"      "X2016.GGXONLB_NGDP" "X2016.GGXWDN"
[43] "X2016.GGXWDN_NGDP"  "X2016.GGXWDG"       "X2016.GGXWDG_NGDP"
[46] "X2016.NGDP_FY"      "X2016.BCA"          "X2016.BCA_NGDPD"

In [239]:
names(weo_2016_wide) <- gsub("X2016\\.", "", names_2016)

In [240]:
str(weo_2016_wide)

'data.frame':	194 obs. of  48 variables:
 $ WEO.Country.Code: int  512 914 612 614 311 213 911 314 193 122 ...
 $ ISO             : Factor w/ 194 levels "ABW","AFG","AGO",..: 2 4 49 3 8 6 7 1 9 10 ...
 $ Country         : Factor w/ 194 levels "Afghanistan",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ NGDP_R          : num  493.07 760.32 7270.16 1588.96 3.25 ...
 $ NGDP_RPCH       : num  2.16 3.35 3.2 -2.58 5.35 ...
 $ NGDP            : num  1318.48 1475.25 17525.1 16549.56 3.94 ...
 $ NGDPD           : num  19.43 11.88 160.13 101.12 1.46 ...
 $ PPPGDP          : num  66.38 34.03 609.7 194.89 2.29 ...
 $ NGDP_D          : num  267 194 241 1042 121 ...
 $ NGDPRPC         : num  14228 264357 178355 57774 35967 ...
 $ NGDPRPPPPC      : num  1774 10958 13854 6563 23504 ...
 $ NGDPPC          : num  38045 512934 429934 601737 43674 ...
 $ NGDPDPC         : num  561 4132 3928 3677 16176 ...
 $ PPPPC           : num  1916 11831 14958 7086 25376 ...
 $ NGAP_NPGDP      : num  NA NA NA NA NA ...
 $ PPPSH           : num  0.055 0.028 0.505 0.161 0.002 0.729 0.021 0.003 0.993 0.348 ...
 $ PPPEX           : num  19.86 43.36 28.74 84.92 1.72 ...
 $ NID_NGDP        : num  18.5 24.3 53.9 27.2 24.3 ...
 $ NGSD_NGDP       : num  25.8 16.7 37.4 24.5 24.5 ...
 $ PCPI            : num  106 101 184 194 134 ...
 $ PCPIPCH         : num  4.384 1.275 6.398 30.694 -0.489 ...
 $ PCPIE           : num  109 102 188 222 134 ...
 $ PCPIEPCH        : num  4.59 2.18 6.96 41.12 -1.12 ...
 $ FLIBOR6         : num  NA NA NA NA NA NA NA NA NA NA ...
 $ TM_RPCH         : num  -8.13 8.16 -2.29 -25.27 10.67 ...
 $ TMG_RPCH        : num  -7.27 9.23 -2.29 -32.29 10.78 ...
 $ TX_RPCH         : num  -16.439 10.283 9.612 -0.606 -0.444 ...
 $ TXG_RPCH        : num  11.425 -0.754 7.883 0.571 21.438 ...
 $ LUR             : num  NA 15.2 10.5 NA NA ...
 $ LE              : num  NA NA NA NA NA ...
 $ LP              : num  34.66 2.88 40.76 27.5 0.09 ...
 $ GGR             : num  344.327 403.131 5011.581 2899.97 0.951 ...
 $ GGR_NGDP        : num  26.1 27.3 28.6 17.5 24.1 ...
 $ GGX             : num  342.771 429.073 7297.494 3648.044 0.956 ...
 $ GGX_NGDP        : num  26 29.1 41.6 22 24.3 ...
 $ GGXCNL          : num  1.556 -25.941 -2285.913 -748.074 -0.006 ...
 $ GGXCNL_NGDP     : num  0.118 -1.758 -13.044 -4.52 -0.143 ...
 $ GGSB            : num  NA NA NA -251 NA ...
 $ GGSB_NPGDP      : num  NA NA NA -1.21 NA ...
 $ GGXONLB         : num  2.35 10.318 -2298.13 -277.674 0.093 ...
 $ GGXONLB_NGDP    : num  0.178 0.699 -13.113 -1.678 2.356 ...
 $ GGXWDN          : num  NA 1004 2334 NA NA ...
 $ GGXWDN_NGDP     : num  NA 68 13.3 NA NA ...
 $ GGXWDG          : num  103.2 1079.7 3582.1 12454 3.4 ...
 $ GGXWDG_NGDP     : num  7.82 73.19 20.44 75.25 86.22 ...
 $ NGDP_FY         : num  1318.48 1475.25 17525.1 16549.56 3.94 ...
 $ BCA             : num  1.409 -0.899 -26.473 -4.834 0.002 ...
 $ BCA_NGDPD       : num  7.253 -7.563 -16.532 -4.78 0.151 ...
 - attr(*, "reshapeWide")=List of 5
  ..$ v.names: chr "X2016"
  ..$ timevar: chr "WEO.Subject.Code"
  ..$ idvar  : chr  "WEO.Country.Code" "Country"
  ..$ times  : Factor w/ 45 levels "BCA","BCA_NGDPD",..: 25 26 22 27 39 23 30 31 29 28 ...
  ..$ varying: chr [1, 1:45] "X2016.NGDP_R" "X2016.NGDP_RPCH" "X2016.NGDP" "X2016.NGDPD" ...

## Discretize numeric data

Now we may want to create factors on GDP per capita (PPP): Low income, middle income and high income countries

Let's say the cutting points are 1000 and 12000

In [241]:
str(weo_ppp_long_2)

'data.frame':	8536 obs. of  5 variables:
 $ Country         : Factor w/ 194 levels "Afghanistan",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ WEO.Country.Code: int  512 914 612 614 311 213 911 314 193 122 ...
 $ ISO             : Factor w/ 194 levels "ABW","AFG","AGO",..: 2 4 49 3 8 6 7 1 9 10 ...
 $ time            : int  1980 1980 1980 1980 1980 1980 1980 1980 1980 1980 ...
 $ NGDPRPPPPC      : num  NA 4675 10804 5277 9082 ...

We will discretize the NGDPRPPPPC column with cut() function and add the results as a new factor variable:

In [242]:
max(weo_ppp_long_2$NGDPRPPPPC, na.rm = T)

[1] 172994.5

In [243]:
a <- cut(weo_ppp_long_2$NGDPRPPPPC,
                                    breaks = c(0, 1000, 12000, max(weo_ppp_long_2$NGDPRPPPPC, na.rm = T)))

In [244]:
levels(a)

[1] "(0,1e+03]"          "(1e+03,1.2e+04]"    "(1.2e+04,1.73e+05]"

In [245]:
weo_ppp_long_2$income_levels <- cut(weo_ppp_long_2$NGDPRPPPPC,
                                    breaks = c(0, 1000, 12000, max(weo_ppp_long_2$NGDPRPPPPC, na.rm = T)),
                                    labels = c("L", "M", "H"))

In [246]:
weo_ppp_long_2[,3:6]

     ISO time NGDPRPPPPC income_levels
1    AFG 1980        NA  NA
2    ALB 1980  4674.883  M
3    DZA 1980 10804.443  M
4    AGO 1980  5276.667  M
5    ATG 1980  9081.960  M
6    ARG 1980 14709.172  H
7    ARM 1980        NA  NA
8    ABW 1980        NA  NA
9    AUS 1980 24398.012  H
10   AUT 1980 26129.809  H
11   AZE 1980        NA  NA
12   BHS 1980 27652.318  H
13   BHR 1980 40934.983  H
14   BGD 1980  1159.722  M
15   BRB 1980 14066.335  H
16   BLR 1980        NA  NA
17   BEL 1980 25189.821  H
18   BLZ 1980  3183.026  M
19   BEN 1980  1724.655  M
20   BTN 1980  1102.657  M
21   BOL 1980  4866.147  M
22   BIH 1980        NA  NA
23   BWA 1980  4265.308  M
24   BRA 1980 11373.057  M
25   BRN 1980        NA  NA
26   BGR 1980 10374.302  M
27   BFA 1980   759.033  L
28   BDI 1980   790.190  L
29   CPV 1980  1857.407  M
30   KHM 1980        NA  NA
⋮    ⋮   ⋮    ⋮          ⋮
8507 SDN 2023  3156.732  M
8508 SUR 2023 14517.698  H
8509 SWE 2023 49292.623  H
8510 CHE 2023 59165.627  H
8511 SYR 2023        NA  NA
8512 TWN 2023 51794.699  H
8513 TJK 2023  3393.110  M
8514 TZA 2023  3795.574  M
8515 THA 2023 20247.901  H
8516 TLS 2023  3124.031  M
8517 TGO 2023  1762.331  M
8518 TON 2023  6561.061  M
8519 TTO 2023 30282.128  H
8520 TUN 2023 12508.277  H
8521 TUR 2023 26072.259  H
8522 TKM 2023 21658.002  H
8523 TUV 2023  4327.978  M
8524 UGA 2023  2580.630  M
8525 UKR 2023  9784.539  M
8526 ARE 2023 63046.461  H
8527 GBR 2023 42824.925  H
8528 USA 2023 58800.370  H
8529 URY 2023 23770.394  H
8530 UZB 2023  8211.536  M
8531 VUT 2023  2632.370  M
8532 VEN 2023  9325.787  M
8533 VNM 2023  8692.397  M
8534 YEM 2023  2982.110  M
8535 ZMB 2023  3926.514  M
8536 ZWE 2023  2347.893  M

## Joining data

Now let's import a second IMF dataset: 2016 values of international investment position of all countries

In [265]:
iip <- read.csv("data/Data_in_US_Dollars.csv")

In [266]:
str(iip)

'data.frame':	208 obs. of  13 variables:
 $ WEO.Country.Code                                                        : int  512 914 612 614 312 311 213 911 314 193 ...
 $ Assets                                                                  : num  9274 7352 127904 87718 1511 ...
 $ Direct.investment                                                       : num  5.61 1406.26 1281.88 21493.93 71.64 ...
 $ Portfolio.investment                                                    : num  351.4 748.4 NA 7401.8 42.2 ...
 $ Financial.derivatives..other.than.reserves..and.employee.stock.options  : num  NA NA NA 78.2 0 ...
 $ Other.investment                                                        : num  1454 2093 5414 34392 1342 ...
 $ Reserve.assets                                                          : num  7462.8 3105 121208.4 24352.5 55.6 ...
 $ Liabilities                                                             : num  3843 12439 33264 90246 1897 ...
 $ Direct.investment.1                                                     : num  1355 5984 19235 35002 556 ...
 $ Portfolio.investment.1                                                  : num  NA 644 NA 1564 1115 ...
 $ Financial.derivatives..other.than.reserves..and.employee.stock.options.1: num  0.18 NA NA 0 0 ...
 $ Other.investment.1                                                      : num  2488 5811 14029 53681 225 ...
 $ Net.international.investment.position                                   : num  5430 -5087 94640 -2528 -385 ...

Now similar to SQL joins, we will "merge" the weo_2016_wide and iip datasets using common "WEO.Country.Code" variable:

## Aggregating and summarizing data

## Imputation of missing values

## Sampling